body{background-color: firebrick ;
}
h1{color: blue;
}
.p3{font-size: 100%;color: aquamarine;
}
.p1{border-width: 5px;
border-color: lime;
border-style: double;
text-align: center;
font-size: 150%;color:chartreuse;
margin-left: 20%;
margin-right: 20%;
}
.p1{background-color: rgb(209, 121, 121);}

.p2{font-size: 170%;
border-width: 15px;
border-style: double;
margin-left: 50%;
}
.p3{border-width: 15px;
border-style:outset;
margin-right: 78%;
text-align: center;
margin-left: 20%;
}
.p4{border-width: 16px;
    border-style:double;
    margin-right: 70%;
    text-align: center;
    margin-left: 40%;}